@font-face {
  font-family: Comfortaa;
  src: url("/stylesheets/COMFORTAA-REGULAR.TTF");
}
body{
  font-family: Comfortaa;
  background: url("/image/BG png-01-01-01.png") no-repeat center center fixed;
  background-size: cover;
}

.icons{
  display: flex;
  justify-content: space-between;
  margin: auto 40px;
  .socialIcon{
    margin-top: 30px;
    display: flex;
    .shadowIcon{
      &:hover{
          border-radius: 100%;
          padding: 0px;
          margin: 0px;
          transform: scale(1.3);
      }
    }
  }
  .followUs{
    opacity: 0.54;
    font-weight: lighter;
    line-height: 0.7;
    font-size: 1.5em;
  }
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -25px;
  h1{
    color: #f9a0b1;
    font-size: 4.5em;
    margin-bottom: 30px;
    font-weight: normal;
  }
  .subContent-1{
    margin-top: -20px;
    font-size: 1.5em;
    opacity: 0.65;
  }
  .subContent-2{
    margin-top: 20px;
    opacity: 0.54;
  }
  .thankyou-box{
    font-weight: lighter;
    display:none;
    color: #8BC34A;
    font-size: 1.3em;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    line-height: 0;
    &.show{
      display: flex;
    }
  }
  .error-box{
    font-weight: lighter;
    display:none;
    color: red;
    font-size: 1.3em;
    margin-top: 12px;
    flex-direction: column;
    align-items: center;
    line-height: 0;
    &.show{
      display: flex;
    }
  }
  .duplicate-email-box{
    font-weight: lighter;
    display:none;
    color: #f18444;
    // opacity: 0.54;
    font-size: 1.3em;
    margin-top: 12px;
    flex-direction: column;
    align-items: center;
    line-height: 0;
    &.show{
      display: flex;
    }
  }
}

.inputForm{
  &.hide{
    display: none;
  }
  input{
    background: none;
    padding-left: 5px;
    border: 1.5px solid #f9a0b1;
    border-radius: 8px;
    width: 350px;
    height: 35px;
    margin: 20px auto;
    font-family: Comfortaa;
    font-size: 14px;
    &:focus{
      font-size: 16px;
      color: #777;
      outline: none;
      background-color: #fff;
      // opacity: 0.54;
      box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
    }
  }

  div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button{
    border-radius: 8px;
    color: #f9a0b1;
    border: 1.5px solid #f9a0b1;
    font-family: Comfortaa;
    background-color: transparent;
    width: 120px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    &:hover{
      background-color: #f9a0b1;
      color: #fff;
    }
    &:focus{
      outline: none;
    }

  }
}

@media screen and (max-width:850px) {
  body{
    background: url("/image/Bg ipad-01.png") no-repeat center center fixed;
    background-size: cover;
  }

  .icons{
    margin: 15px 15px;
    .fertilaIcon{
      margin-top: 10px;
      width: 200px;
    }
    .socialIcon{
      margin-top: 45px;
      .shadowIcon{
        width: 50px;
      }
      .followUs{
        font-size: 1em;
        line-height: 1.5;
      }
    }
  }
  .content{
    h1{
      font-size: 3.7em;
      margin-top: 80px;
      // font-weight: bold;
    }
    .subContent-1{
      font-size: 1em;
    }
    .subContent-2{
      margin-top: 50px;
      opacity: 0.54;
      font-size: 1.5em;
    }
    .thankyou-box{
      display:none;
      color: #8BC34A;
      font-size: 1.3em;
      margin-top: 25px;
      flex-direction: column;
      align-items: center;
      line-height: 0;
      &.show{
        display: flex;
      }
    }
    .error-box{
      display:none;
      color: red;
      font-size: 1.3em;
      margin-top: 25px;
      flex-direction: column;
      align-items: center;
      line-height: 0;
      &.show{
        display: flex;
      }
    }
    .duplicate-email-box{
      display:none;
      color: #f18444;
      font-size: 1.3em;
      margin-top: 12px;
      flex-direction: column;
      align-items: center;
      line-height: 0;
      &.show{
        display: flex;
      }
    }
  }
}

@media screen and (max-width:414px) {
  body{
    background: url("/image/Bg Iphone-01.png") no-repeat center center fixed;
    background-size: cover;
  }
  .icons{
    margin: 15px 0px;
    .fertilaIcon{
      margin-top: 10px;
      margin-left: 10px;
      width: 100px;
    }
    .socialIcon{
      margin-top: 25px;
      .shadowIcon{
        width: 30px;
      }
      .followUs{
        font-size: 0.5em;
        line-height: 2;
      }
    }
  }
  .content{
    h1{
      font-size: 1.7em;
      margin-top: 60px;
      // font-weight: bold;
    }
    .subContent-1{
      font-size: .45em;
    }
    .subContent-2{
      margin-top: 20px;
      opacity: 0.54;
      font-size: .8em;
    }
    .thankyou-box{
      display:none;
      color: #8BC34A;
      font-size: .7em;
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
      line-height: 0;
      &.show{
        display: flex;
      }
    }
    .error-box{
      display:none;
      color: red;
      font-size: 0.8em;
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
      line-height: 0;
      &.show{
        display: flex;
      }
    }
    .duplicate-email-box{
      display:none;
      color: #f18444;
      font-size: 0.8em;
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
      line-height: 0;
      &.show{
        display: flex;
      }
    }
  }
  .inputForm{
    margin-top: -10px;
    &.hide{
      display: none;
    }
    input{
      background: none;
      padding-left: 5px;
      border: 1.5px solid #f9a0b1;
      border-radius: 5px;
      width: 200px;
      height: 20px;
      margin: 20px auto;
      font-family: Comfortaa;
      font-size: 12px;
      &:focus{
        font-size: 12px;
        color: #777;
        outline: none;
        box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
      }
    }

    form{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    button{
      margin-top: -10px;
      border-radius: 5px;
      color: #f9a0b1;
      border: 1.5px solid #f9a0b1;
      font-family: Comfortaa;
      background-color: transparent;
      width: 90px;
      height: 25px;
      font-size: 12px;
      cursor: pointer;
      &:hover{
        background-color: #f9a0b1;
        color: #fff;
      }
    }
  }

}
