.chat-page{
  width: 100%;
  height: 100vh;
  .all-chat-container{
    width: 100%;
    height: 70%;
    display: flex;
    .all-chat-list-container{
      width: 70%;
      height: 100%;
      padding: 10px;
      .history-chat-container{
        border: 2px solid brown;
        border-radius: 5px;
        height: 100%;
        overflow: auto;
      }
    }
    .active-user-container{
      width: 30%;
      height: 100%;
      padding: 10px;
      .active-user-list{
        border: 2px solid brown;
        border-radius: 5px;
        height: 100%;
        overflow: auto;
      }
    }
  }
  .chat-input-container{
    width: 100%;
    height: 30%;
    background: green;
  }
}
